.benefits {
  margin-bottom: 54px;
}

.benefits__list {
  .list-style();
}

.benefits__item {
  display: block;
  box-sizing: border-box;
  .font(17px, 700, 20px);
  .title-align(83px, 0);
  color: #000000;
}

.benefits__item--eco {
  background-image: url("../img/icon-feature-flower.svg");
  background-repeat: no-repeat;
  background-position: 7px 31px;
  background-size: 32px 37px;
  width: 175px;
  padding-top: 87px;
}

.benefits__item--ska {
  background-image: url("../img/icon-feature-money.svg");
  background-repeat: no-repeat;
  background-position: left 32px;
  background-size: 47px 27px;
  width: 200px;
}

.benefits__item--likes {
  background-image: url("../img/icon-feature-heart.svg");
  background-repeat: no-repeat;
  background-position: 7px 35px;
  background-size: 34px 27px;
  width: 180px;
}

.benefits__item--love {
  background-image: url("../img/icon-feature-ball.svg");
  background-repeat: no-repeat;
  background-position: 3px 32px;
  background-size: 35px 34px;
  width: 210px;
}

.benefits__item--patriot {
  background-image: url("../img/icon-feature-rocket.svg");
  background-repeat: no-repeat;
  background-position: left 33px;
  background-size: 55px 23px;
}

.benefits__item--gift {
  background-image: url("../img/icon-feature-gift.svg");
  background-repeat: no-repeat;
  background-position: 2px 32px;
  background-size: 33px 32px;
  width: 200px;
}

@media (min-width: @tablet-width) {
  .benefits {
    margin-bottom: 85px;
  }

  .benefits__container {
    display: flex;
    justify-content: flex-start;
  }

  .benefits__item {
    .font(20px, 700, 22px);
    .title-align(110px, 0);
    background-position: 3px 55px;
  }

  .benefits__list {
    box-sizing: border-box;
    margin-top: -6px;
  }

  .benefits__list--left {
    margin-right: 100px;
    width: 235px;
  }

  .benefits__list--right {
    width: 295px;
    margin-right: 35px;
  }

  .benefits__item--eco {
    background-position: 10px 55px;
    background-size: 32px 37px;
    width: 230px;
  }

  .benefits__item--ska {
    background-position: 2px 57px;
    background-size: 47px 27px;
    width: 235px;
  }

  .benefits__item--likes {
    background-position: 9px 63px;
    background-size: 34px 27px;
    width: 230px;
  }

  .benefits__item--love {
    background-position: 3px 57px;
    background-size: 35px 34px;
    width: 290px;
  }

  .benefits__item--patriot {
    background-position: -1px 60px;
    background-size: 55px 23px;
  }

  .benefits__item--gift {
    background-position: 3px 58px;
    background-size: 33px 32px;
    width: 290px;
  }
}

@media (min-width: @desktop-width) {
  .benefits {
    width: 700px;
    margin-bottom: 90px;
  }

  .benefits__list--left {
    margin-right: 114px;
  }
}
