.benefits {
  margin-bottom: 60px;
}

.benefits__list {
  .list-style();
}

.benefits__item {
  display: block;
  box-sizing: border-box;
  .font(17px, 700, 20px);
  .title-align(80px, 0);
}

@media (min-width: @tablet-width) {
  .benefits {
    margin-bottom: 80px;
  }

  .benefits__container {
    display: flex;
    justify-content: space-between;
  }

  .benefits__item {
    .font(20px, 700, 22px);
    .title-align(80px, 0);
  }

  .benefits__list {
    padding-right: 40px;
    box-sizing: border-box;
  }
}

@media (min-width: @desktop-width) {
  .benefits {
    width: 700px;
    margin-bottom: 85px;
  }

  .benefits__list {
    padding-right: 55px;
  }
}
