.categories {
  width: 100%;
  background-color: #f9f9f9;
}
.categories__list {
  .list-style();
  width: 320px;
  .center-block();
}

.categories__item a {
  display: block;
  .link-style();
  .title-align();
  .section-align();
  .font(19px, 700, 24px);
  color: white;
  cursor: pointer;
}

.categories__item--interior {
  background-color: @mint;
  /*background-image: url("../../img/icon-interior.svg");
  background-position: 244px 23px;
  background-repeat: no-repeat;
  background-size: 40px 62px;*/
}

.categories__item--toys {
  background-color: @mint-dark;
  /*background-image: url("../../img/icon-toy.svg");
  background-position: 233px 23px;
  background-repeat: no-repeat;
  background-size: 60px 60px;*/
}

@media (min-width: @tablet-width) {
  .categories__list {
    display: flex;
    width: 670px;
    .center-block();
  }

  .categories__item {
    width: 50%;
  }

  .categories__item a {
    .font(20px, 700, 30px);
    color: white;
  }
}

@media (min-width: @desktop-width) {
  .categories__list {
    width: 1050px;
  }
}
