.categories {
  .list-style();
}

.categories__item {
  .section-align(30px, 185px);
  .title-align();
}

.categories__item a {
  .link-style();
  .font(19px, 700, 24px);
  color: white;
}

.categories__item--interior {
  background-color: @mint;
}

.categories__item--toys {
  background-color: @mint-dark;
}
