.comments {
  .section-align();
}

.comments__box {
  margin: 0;
  padding: 0;
}

.comments__text {
  .font(15px, 400, 30px);
  color: @text;
}

.comments__name {
  .font(17px, 700, 24px);
}

.comments__username {
  .font(17px, 400, 30px);
  color: @text;
  font-style: normal;
}
