.comments__box {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.comments__header {
  margin-bottom: 23px;
}

.comments__text {
  .font(15px, 400, 30px);
  color: @text;
  margin: 0;
  margin-bottom: 25px;
}

.comments__name {
  .font(17px, 700, 24px);
}

.comments__username {
  .font(17px, 400, 30px);
  color: @text;
  font-style: normal;
  margin-bottom: 35px;
}

.comments__button {
  width: 260px;
  margin-top: 37px;
}

@media (min-width: @tablet-width) {
  .comments {
    width: 768px;
    .center-block();
    .title-align(76px, 52px);

    background-image: url("../../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px 457px;
    }
  }

  .comments__header {
    margin-bottom: 50px;
  }

  .comments__centered {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .comments__content {
    order: 1;
  }

  .comments__button {
    width: 175px;
    margin-top: 0;
  }

  .comments__text {
    .font(17px, 400, 30px);
    margin-bottom: 55px;
  }

  .comments__name {
    display: block;
    .font(18px, 700, 24px);
    margin-bottom: 5px;
  }

  .comments__username {
    margin-bottom: 0;
  }

  .comments__toggles {
    text-align: right;
    margin-bottom: 0;
    margin-top: -72px;
  }
}

@media (min-width: @desktop-width) {
  .comments {
    width: 1050px;
    .center-block();
    .title-align(71px, 110px);
  }

  .comments__content {
    width: 875px;
  }

  .comments__centered {
    width: 875px;
    .section-align(175px, 0);
  }

  .comments__text {
    margin-bottom: 38px;
    width: 770px;
  }

  .comments__name {
    .font(17px, 700, 24px);
  }

  .comments__toggles {
    margin-top: -75px;
  }
}
