.contacts__wrapper {
  .section-align();
}

.contacts__text {
  .font(15px, 400, 30px);
  color: @text;
}

.contacts__text a {
  .link-style();
}

.contacts__adress {
  font-style: normal;
}

.contacts__map {
  background-color: @grey;
}
