
.copyright {
  .title-align();
}

.copyright__text {
  .font(19px, 700, 18px);
}

.copyright__link {
  margin-left: 30px;
}

@media (min-width: @tablet-width) {
  .copyright {
    margin: 0;
    padding: 0;
  }
}
