.page-footer {
  background-color: @grey;
  .section-align();
}

.page-footer__social {
  .title-align();
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.page-footer__copyright {
  text-align: center;
  .title-align();
}
