.page-footer {
  background-color: @grey;
  .section-align();
}

.page-footer__social {
  width: 260px;
  .center-block();
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.page-footer__copyright {
  text-align: center;
  width: 260px;
  .center-block();
}

.page-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer__container {
    width: 670px;
    .center-block();
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title-align();
  }
  .page-footer__social {
    width: 260px;
    .center-block();
    text-align: center;
    border-bottom: none;
  }
  .page-footer__logo {
    display: block;
  }

  .page-footer__copyright {
    width: auto;
    margin: 0;
    padding: 0;
  }

}

@media (min-width: @desktop-width) {
  .page-footer__container {
    width: 1150px;
  }

}
