.page-footer {
  background-color: @grey;
  .title-align(25px, 25px);
}

.page-footer__social {
  width: 260px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.page-footer__copyright {
  text-align: center;
  vertical-align: middle;
}

.page-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    .title-align(50px, 50px);
  }

  .page-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__social {
    text-align: center;
    border-bottom: none;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__copyright {
    width: auto;
    margin: 0;
    padding: 0;
  }
}
