.shop-box {
  margin-bottom: 31px;
  border: 1px solid #ececec;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop-box__info {
  width: 260px;
  box-sizing: border-box;
  .title-align(17px, 25px);
  .section-align(28px, 28px);
}

.shop-box--video {
  width: 260px;
  box-sizing: border-box;
  margin-bottom: 58px;
}

.shop-box__info:hover,
.shop-box--video:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.shop-box__info:active,
.shop-box--video:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.shop-box__image {
  background-color: @grey;
}

.shop-box__content {
  .center-block();
  margin: 0;
  margin-bottom: 19px;
}

.shop-box__shop {
  .center-block();
  border-top: 1px solid #ececec;
  margin: 0;
  padding-top: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-box__name {
  .font(17px, 700, 24px);
  .link-style();
  display: block;
  margin-bottom: 4px;
}

.shop-box__name:hover {
  opacity: 0.6;
}

.shop-box__name:active {
  opacity: 0.3;
}

.shop-box__name--video {
  padding-left: 56px;
  position: relative;
  margin-left: 33px;
  margin-top: 24px;
  margin-bottom: 25px;

  &::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    top: 5px;
    left: 0;
    background: url("../img/icon-video.svg") no-repeat 0 0;
  }
}

.shop-box__desc {
  .font(13px, 400, 30px);
  color: @text;
}

.shop-box__desc--video {
  margin: 0;
  margin-bottom: 25px;
  .font(13px, 400, 24px);
}

.shop-box__cont--video {
  .section-align(34px, 34px);
  .title-align(18px, 32px);
}

.shop-box__videowrap {
  position: relative;
}

.shop-box__play-icon {
  position: absolute;
  display: block;
  width: 101px;
  height: 77px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  &:hover {
    transform: translate(-50%,-50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%,-50%) scale(0.8);
    opacity: 0.3;
  }
}

.shop-box__price {
  .font(15px, 700, 24px);
}

.shop-box__button {
  width: 100%;
}

.shop-box__buy-icon {
  opacity: 0.2;
}

.shop-box__buy {
  &:hover .shop-box__buy-icon {
    fill: @mint;
    opacity: 1;
  }

  &:active .shop-box__buy-icon {
    opacity: 0.2;
  }
}

@media (min-width: @tablet-width) {
  .shop-box {
    justify-content: flex-start;
    margin-bottom: 54px;
  }

  .shop-box--video {
    width: 670px;
    margin-bottom: 63px;
  }

  .shop-box__image {
    width: 334px;
    height: 334px;
    margin-bottom: -11px;
  }

  .shop-box__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 334px;
    padding-top: 25px;
    padding-left: 26px;
    padding-bottom: 23px;
  }

  .shop-box__name {
    .font(20px, 700, 24px);
    display: block;
  }

  .shop-box__desc {
    .font(15px, 400, 30px);
    .center-block();
  }

  .shop-box__desc--video {
    margin-bottom: 36px;
    .font(15px, 400, 30px);
  }

  .shop-box__shop {
    margin-left: 5px;
    padding-top: 20px;
  }

  .shop-box__price {
    .font(17px, 700, 24px);
  }


  .shop-box__image--video {
    width: 670px;
    height: 455px;
    order: 0;
  }

  .shop-box__name--video {
    .center-block();
    order: 1;
    padding-left: 65px;
    margin-top: 40px;
    margin-left: 40px;

    &::before {
      top: -5px;
    }
  }

  .shop-box__cont--video {
    order: 2;
    .section-align(40px, 40px);
    .title-align(30px, 45px);
  }
}

@media (min-width: @desktop-width) {
  .shop-box {
    width: 316px;
    max-height: 760px;
    margin-bottom: 57px;
  }

  .shop-box__image {
    width: 316px;
    height: 462px;
    margin-right: 0;
    margin-bottom: -20px;
  }

  .shop-box__info {
    width: 317px;
    padding-top: 15px;
    padding-bottom: 23px;
    margin-top: 10px;
    /*justify-content: flex-start;*/
  }

  .shop-box__shop {
    padding-top: 20px;
  }

  .shop-box__content {
    padding-bottom: 6px;
  }

  .shop-box--video {
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 105px;
  }

  .shop-box__cont--video {
    .section-align(40px, 40px);
    .title-align(40px, 45px);
    width: 230px;
    padding: 0;
    margin: 0;
    margin-top: -268px;
    margin-right: 60px;
  }

  .shop-box__videowrap {
    margin-right: 80px;
  }

  .shop-box__image--video {
    width: 682px;
    height: 455px;
    margin-bottom: -10px;
  }

  .shop-box__name--video {
    width: 200px;
    margin: 0;
    padding-left: 0;
    padding-top: 50px;
    margin-top: 45px;
    margin-right: auto;
  }

  .shop-box__desc--video {
    margin-bottom: 45px;
  }
}
