.shop-box {
  margin-bottom: 30px;
  border: 1px solid #ececec;
}

.shop-box__image {
  background-color: @grey;
}

.shop-box__name {
  .font(17px, 700, 24px);
}

.shop-box__desc {
  .font(13px, 400, 30px);
  color: @text;
  .title-align();
  .section-align();
}

.shop-box__price {
  .font(15px, 700, 24px);
}
