.shop-wrapper {
  margin-top: 30px;
}

@media (min-width: @tablet-width) {
  .shop-wrapper {
    margin-top: 82px;
  }
}

@media (min-width: @desktop-width) {
  .shop-wrapper {
    margin-top: 132px;
  }
}
