.site-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.site-list__item {
  border: 1px solid #ececec;
}

.site-list__item a {
  .font(17px, 700, 24px);
  display: block;
  .link-style();
  .title-align(26px, 27px);
  padding-left: 74px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__search {
  position: relative;

  &:hover .site-list__search-icon {
    fill: @mint;
    opacity: 1;
  }

  &:active .site-list__search-icon {
    opacity: 0.3;
  }
}

.site-list__item span {
  border: none;
  outline: none;
  background-color: white;
  .link-style();
}

.site-list__search-icon {
  position: absolute;
  top: 30px;
  left: 30px;

  width: 18px;
  height: 18px;

  opacity: 0.2;
}

.site-list__cart {
  position: relative;

  &:hover .site-list__cart-icon {
    fill: @mint;
    opacity: 1;
  }

  &:active .site-list__cart-icon {
    opacity: 0.3;
  }
}

.site-list__cart-icon {
  position: absolute;
  width: 21px;
  height: 18px;

  top: 30px;
  left: 30px;
  opacity: 0.2;
}


@media (min-width: @tablet-width) {
  .site-list__item {
    border: 0;
  }

  .site-list__item .site-list__search {
    padding: 0;
  }

  .site-list__search-icon {
    position: static;
    .title-align(36px, 33px);
    .section-align(32px, 32px);
    border-top: 0;
    border-bottom: 0;
  }

  .site-list__search {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }

  .site-list__item a {
    .title-align(32px, 30px);
    padding-left: 84px;
  }

  .site-list__item--small a {
    .font(15px, 700, 24px);
    padding: 0;
    padding-top: 13px;
  }

  .site-list__cart-icon {
    top: 35px;
  }
}

@media (min-width: @desktop-width) {
  .site-list__item--small a {
    .font(17px, 700, 24px);
    .title-align(28px, 30px);
  }

  .site-list__item--small:first-child {
    border-right: 1px solid #ececec;
    padding-right: 35px;
  }

  .site-list__item--small:last-child {
    padding-left: 35px;
  }

  .site-list__item--add a {
    .font(15px, 700, 24px);
    padding: 0;
    padding-top: 17px;
    margin: 0;
  }

  .site-list__search-icon {
    padding-bottom: 28px;
    border: none;
  }

  .site-list__search {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }

  .site-list__cart-icon {
    padding-bottom: 28px;
  }

  .site-list__item--add {
    margin-right: 30px;
  }
}
