.site-list {
  .list-style();
}

.site-list__item {
  .font(17px, 700, 24px);
  .section-align(76px, 0);
  .title-align();
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.site-list__item a {
  .link-style();
}

.site-list__item input {
  border: none;
  background-color: white;
}

.site-list__item input[placeholder] {
  .font(17px, 700, 24px);
  color: black;
  opacity: 1;
}
