.slider {
  display: flex;
  flex-direction: column;
}

.slider__item {
  display: none;
}

.slider__toggle {
  display: inline-block;
  width: 128px;
  height: 52px;
  border: 1px solid #ececec;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  & svg {
    margin-top: 12px;
  }
}

.slider__toggle--left {
  border-right: none;
  margin-right: -5px;
}

.slider__toggles-label {
  text-align: center;
  order: 1;
}

#left-button:checked ~ .slider__list .slider__item--left {
  display: block;
}

#right-button:checked ~ .slider__list .slider__item--right {
  display: block;
}

@media (min-width: @tablet-width) {
  .slider {
    display: block;
    position: relative;
  }

  .slider__toggle {
    border: none;
    width: 88px;
    height: 26px;
  }

  .slider__toggles-label {
    position: absolute;
    right: 0;
    bottom: 20px;
  }
}
