.top-item {
  background-color: white;
  .section-align();
}

.top-item__header {
}

.top-item__subheader {
  .font(17px, 700, 20px);
  color: @mint;
  text-transform: uppercase;
}

.top-item__text {
  .font(15px, 400, 24px);
  color: @text;
}

.top-item__table {
  .font(15px, 400, 24px);
  color: @text;
}

.top-item__image {
  background-color: @grey;
}

.top-item__price {
  .font(17px, 700, 24);
  color: @text;
}
