@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensans.woff"),
    url("../../fonts/opensans.woff2");
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensansbold.woff"),
    url("../../fonts/opensansbold.woff2");
  font-weight: bold;
}
